
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}

body{
  height:100vh;
  background:#000;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* 3D Wrapper */
.card{
  width:380px;
  height:550px;
  perspective:1200px;
}

.inner{
  width:100%;
  height:100%;
  position:relative;
  transition:.8s;
  transform-style:preserve-3d;
}

#flip:checked + .inner{
  transform:rotateY(180deg);
}


.face{
  position:absolute;
  inset:0;
  border-radius:30px;
  overflow:hidden;
  backface-visibility:hidden;
  background:#111;
  box-shadow:0 0 50px rgba(255,0,0,.15);
}

/* ================= FRONT ================= */

/* IMAGE AREA (Minimal Version) */
.image-area{
  height:60%;
  position:relative;
  overflow:hidden;
}

.image-area img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* Bottom Fade 
.image-area::after{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(to top,#111 1%,transparent 20%);
}

/* Brand */
.brand{
  position:absolute;
  top:20px;
  left:20px;
  background:rgba(255,255,255,.15);
  backdrop-filter:blur(10px);
  padding:6px 18px;
  border-radius:20px;
  color:white;
  font-size:14px;
  letter-spacing:2px;
}

/* Heart */
.heart{
  position:absolute;
  top:20px;
  right:20px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:rgba(255,255,255,.15);
  font-size: 20px;
  backdrop-filter:blur(10px);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  cursor:pointer;
}

/* Content */
.content{
  padding:0px 30px;
  color:white;
  height:40%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap: 30px;
}

.title{
  font-size:32px;
  font-weight:700;
}

.subtitle{
  font-size:14px;
  color:#9ca3af;
  letter-spacing:1px;
}

.bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.price{
  font-size:34px;
  font-weight:700;
}

.arrow{
  width:60px;
  height:60px;
  border-radius:50%;
  background:white;
  color:black;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  cursor:pointer;
}

.face::after{
  content:"";
  position:absolute;
  bottom:-30px;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  height:70px;
  background: linear-gradient(to top, rgba(255,0,0,0.6), rgba(255,0,0,0.2), transparent);
  filter:blur(10px);
  
}

/* ================= BACK ================= */

.back{
  transform: rotateY(180deg);
  padding:30px;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.close{
  position:absolute;
  top:40px;
  right:20px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:rgba(255,255,255,.15);
  backdrop-filter:blur(10px);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  cursor:pointer;
}

.back h2{
  margin-bottom:10px;
  margin-top: 20px;
}

.back p{
  font-size:16px;
  color:#80858d;
  margin-bottom:25px;
}

.sizes{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  margin-bottom:30px;
}

.sizes input{
  display:none;
}

.sizes label{
  padding:12px;
  background:#373737;
  text-align:center;
  border-radius:8px;
  cursor:pointer;
  transition:.3s;
}

.sizes input:checked + label{
  background:white;
  color:black;
}

.btn{
  margin-top:auto;
  padding:15px;
  border:none;
  border-radius:12px;
  font-weight:600;
  cursor:pointer;
}
